ion-content{
    --ion-background-color:#f3f3f3;
}

ion-toolbar {
    text-align: center;
}

ion-title {
    text-align: right;
   
}


.poster {
    height: 200px;
    padding: 5px;
}

.poster img {
    height: 200px;
    width: auto;
    margin: 0 auto;
}

ion-card-content p span {
    font-weight: 800;
}