.poster {
    height: 150px;
   
}

.poster img {
  height: 150px;
  width: auto;
  margin: 0 auto;
}

ion-card-title {
    font-size: 22px;
}

ion-card-content {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

ion-card-content p {
    font-size: 18px;
}